nav{

  font-size: .75em;
  font-weight: bold;
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  background-color: white;
}

nav a {
  display: inline-block;
  padding: 10px 50px;

}

img {
	width: 200px;
}
